header {
    background-color: #512544;
    color: #E8FDFF;
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px;
}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}

.user-info h2{
    color: #964873;
}

.user-info h3{
    color: #964873;
}