<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../public/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../public/stylesheets/lib.css">
        <meta charset="UTF-8">
        <title>Finstagram</title>
    </head>
    <body>
    <header>
        <h1>Finstagram</h1>
    </header>
    <main role="main">
        <article class="post"> 
            <div class="user-info">
                <img src="https://s-media-cache-ak0.pinimg.com/avatars/caitlinmquon-1408550293_280.jpg" alt="alice.j">
                <h2>alice.j</h2>
                <h3>15 minutes ago</h3>
            </div>
             <a href='#'>
            <img src="http://www.lovethispic.com/uploaded_images/109082-Blue-Steps.-Simi-Island..greece.jpg" alt="post from alice.j">
            </a>
            <div class="actions">
                
                15 likes
                <span class="comment-count">3 comments</span>
            </div>
            <ul class="comments">
                <li>
                    <p>
                        alice.j: Strolling the streets of Greece
                    </p>
                </li>
            </ul>
            
           </article>
            
        
        <article class="post">
        <div class="user-info">
            <img src="https://lh5.googleusercontent.com/-ZvMGqOjEsDA/AAAAAAAAAAI/AAAAAAAAAOY/a-Byi4ikxn4/photo.jpg" alt="emily_ann">
            <h2>emily_ann</h2>
            <h3>15 minutes ago</h3>
            </div>
            <a class="photo" href='#'>
            <img src="https://s-media-cache-ak0.pinimg.com/736x/80/15/25/801525f627a4078e36ee4a76bda06530.jpg" alt="post from emily_ann">
            </a>
            <div class="actions">
    
        0 likes 
        <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
            <li>
                <p>
                    emily_ann: Can't wait for summer
                </p>
            </li>
        </ul>
        </article>
        
        <article class="post">
            <div class="user-info">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAeDAAAAJDRhMTc0OWE4LWEwY2QtNGE0Yy1iNTgyLWU0NTZiMzlhMjQ1ZQ.jpg">
                <h2>caitlin_quon</h2>
                <h3>10 minutes ago</h3>
                </div>
                <a class="photo" href="#">
                <img src="https://s-media-cache-ak0.pinimg.com/originals/69/03/9b/69039b033ad1f07b085d3a057048dda6.jpg">
                
              </a>
              <div class="actions">
                 5 likes 
                 <span class="comment-count">0 comments</span>
              </div>
             <ul class="comments">
                 <li>
                     <p>
                         caitlin_quon: Great day at the beach
                     </p>
                 </li>
             </ul>
        </article>
       
    </main>
    </body>
    
</html>